.{
    background-color: black;
}

body{
    margin: 0;
}

nav{
    background-color: whitesmoke;
    color: black;
    border-top: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    position: absolute;
    text-align: center;
    max-width:1600px;
}

.navbar-brand{
    height: 40px;
    width: 150px;
    float: left;
    font-family: 'Lobster', cursive;
    padding: 0;
}

.contenedor{
    top: 0;
    width: 100%;
    height: auto;
    display: inline-grid;
    position: relative;
    grid-template-columns: auto auto ;
    grid-template-rows: auto 300px 400px  300px 200px;
}

.slider{
    background-color: black;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.slider img{
    margin-left: auto;
    margin-right: auto;
}



.tia{
    background-color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    color: black;
}
.stock{
    background-color: rgb(231, 204, 113);
    grid-column-start: 1;
    grid-column-end: 5;

}
.contacto{
    background-color: rgb(169, 213, 247);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row:5 / 6;

}
.form{
    background-color: #91CEFA;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4 / 5 ;

}
.redes{
    background-color: #47657A;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row:5 / 6;

}

footer{
    background-color: black;
    color: whitesmoke;
    border-top: 0;
    
    height: 30px;
    bottom: 0;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;

}

.navbar-buttons{

    color: black;
    display: grid;
    float: right;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 350px;
    grid-template-columns: 25% 25% 25% 25%;

}

.navbar-buttons div{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    height: 100%;
}

.b1{
    border-left: solid 4px rgb(223, 88, 88);
    border-bottom-left-radius: 10px;
}
.b2{
    border-left: solid 4px rgb(106, 110, 110);
    color: whitesmoke;
}
.b3{
    border-left: solid 4px #91CEFA;
}
.b4{
    color: whitesmoke;
    border-left: solid 4px #47657A ;
}

a{ 
    color: black;
    
}
a:hover{
font-weight: bolder;
text-decoration: none;
color: black;
}